* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    border: 1px solid black;
    width: 100%;
    display: flex;
    background-color: rgb(51, 51, 51);
}

.nav-comp {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.nav-item {
    display: block;
    color: rgb(221, 221, 221);
    text-decoration: none;
    padding: 10px;
    transition: transform 1s, background-color 1s;
}

.nav-item:hover {
    transform: translateX(25%);
    transition-duration: 1s;
    background-color: rgb(128, 26, 0)
}